:root {
  --gray: #E5E5E5;
  --currentColorText: #999999;
}


html,
body {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
}

.container {
  width: 73.75rem;
  height: 46.25rem;
  border: .063rem solid grey;
  border-radius: 1.563rem;
  box-shadow: .125rem .125rem .063rem rgb(155, 152, 152);
  background-color: var(--gray);
  padding: 2rem;
}

.canvas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 73.75rem;
  border: .006rem solid var(--gray);
  margin: 0 auto;
}

.canvas:hover{
  cursor: pointer;
}

.pixel {
  width: 1.063rem;
  height: 1.063rem;
  border: .063rem solid var(--gray);
  margin: 0;
  padding: 0;
  background-color: white;
}


.color-palette-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  border: .006rem solid var(--gray);
  background-color: 1px solid var(--gray);
  margin-top: 0.625rem;
  background-color: var(--gray);
  width: 100%;
  height: 7.188rem;
}

.color-option:hover {
  cursor: pointer;
}

.color-option {
  width: 2.812rem;
  height: 2.812rem;
  background-color: white;
  border-radius: 50%;
  margin: 0.35rem
}

.color-option:hover {
  transform: scale(1.2);
}

.current-color-display-container {
  display: flex;
  text-align: center;
  margin-top: 0.563rem;
  width: 47%;
  height: 45%;
}

.current-color-display {
  width: 23%;
  height: 80%;
  margin-top: .188rem;
  line-height: 3.125rem;
  background-color: white;
  box-shadow: .125rem .125rem .188rem rgb(152, 155, 155);
}

.current-color-text {
  text-align: center;
  line-height: 3.125rem;
  font-size: xx-large;
  font-weight: 450;
  font-family: Verdana, Tahoma, sans-serif;
  color: var(--currentColorText);
  width: 70%;
  height: 100%;
}

/* .icons {
  width: 45px;
  height: 45px;
}

.icons:hover{
  transform: scale(1.2);
}


.topnav {
  background-color: var(--gray);
  overflow: hidden;
} */

/* .topnav {
  background-color: var(--gray);
  overflow: hidden;
} */
/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 200vh;
    height: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
  }

} */

/*

  width: 73.75rem;
  height: 46.25rem;
  border: .063rem solid grey;
  border-radius: 1.563rem;
  box-shadow: .125rem .125rem .063rem rgb(155, 152, 152);
  background-color: var(--gray);
  padding: 2rem;
  */

header {
  display: inline-block;
  position: fixed;
  top: .5rem;
  left:.5rem;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  
  /* width: 100vw; */
  /* box-shadow: .125rem .125rem .063rem rgb(155, 152, 152);  */
  /* background-color: yellow; */
  cursor: pointer;
}
.menu-icon {
  
  /* margin-right: .5rem;
  margin-bottom: .5rem; */
  /* width: auto;   */
  /* background-color: black; */
}

.menu-icon:hover{
  
  cursor: pointer;
  /* color: black; */
}

.bar1, .bar2, .bar3 {

  cursor: pointer;
  /* margin-top: 1.5vh; */
  width: 35px;
  height: 5px;
  background: var(--currentColorText);
  margin: 6px 0;
  transition: 0.2s;
  /* background-color: ; */
  /* box-shadow: .0125rem .0125rem .0188rem black; */

  border: .063rem ;
  border-radius: 1.563rem;
  
  
}

.change {
background-color: yellow;
top:0;
left:0;
width: 13vw;
transition: 0.4s;
height: 20vh;
opacity: 80%;
}

.change:hover{

}










/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


/* .menu-option-ul{
  list-style-type: none;
} */